In [174]:
import numpy as np
import pandas as pd

In [175]:
df = pd.read_csv("diabetes.csv")
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [176]:
data = np.array(df, dtype=float)
X = data[:, :-1]
Y = data[:, -1]

In [177]:
def hypothesis(x, t):
    z = np.dot(x, t)
    return 1 / (1 + np.exp(-z))

In [178]:
def cost_function(x, y, t):
    m = x.shape[0]
    yhat = hypothesis(x, t)
    cost = np.sum((-y * np.log(yhat)) - ((1-y) * np.log(1-yhat)))
    return cost / m

In [179]:
def gradient_descent(x, y, t, iters, alpha):
    m = x.shape[0]
    for i in range(iters):
        yhat = hypothesis(x, t)
        cost = (1/m) * np.dot(x.T, (yhat-y))
        t = t - (alpha * cost)
        
    return t

In [180]:
theta = np.zeros((X.shape[1], 1))
Y = Y.reshape((Y.shape[0], 1))
theta = gradient_descent(X, Y, theta, 100, 0.0000001)
print(theta)

[[-2.57533899e-06]
 [-1.02512485e-04]
 [-8.92343510e-05]
 [-1.89583605e-05]
 [ 2.37267259e-05]
 [-3.09113245e-05]
 [-3.71970437e-07]
 [-2.87157507e-05]]

In [181]:
ypred = hypothesis(X, theta)
ypred = [1 if i > 0.5 else 0 for i in ypred]
accuracy = (np.sum(Y == ypred)) / len(Y)
print(accuracy)

70.0